.main_p::-webkit-scrollbar {
  width: 6px;
}

.main_p::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8); /* Dark scrollbar color */
  border-radius: 3px; /* Rounded corners for the scrollbar */
}

.main_p::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Background color of the scrollbar track */
}
.adventures-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.adventure-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
  width: 80%;
}

.adventure-card.reverse {
  flex-direction: row-reverse;
}

.adventure-content {
  flex: 1;
  padding: 2rem;
}

.adventure-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(85, 84, 84);
}

.adventure-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.adventure-image {
  flex: 1;
  height: 300px;
  overflow: hidden;
}

.adventure-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}



@media (max-width: 768px) {
  .adventure-card {
    flex-direction: column;
    width: 90%;
  }

  .adventure-card.reverse {
    flex-direction: column;
  }

  .adventure-content {
    padding: 1.5rem;
  }

  .adventure-image {
    height: 200px;
  }
}
